{% extends"Base.html" %}

{% block style%}
        body{
           background-color:#3FA5A7 ;
           color: white
           }
{% endblock %}

{% block title %}
LOGIN PAGE
{% endblock %}

{% block content %}
<br>
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:black">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="{{ url_for('static', filename='1.png')}}" alt="">
            <h1 class="h3 mb-3 font-weight-bold">
                Please Fill The Details To Login
            </h1>
            <br>
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <br>
            <div class="checkbox mb-3">
               <h5>Do not have an account?</h5>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
<!--            <button type="submit" class="btn btn-primary">LogIn</button>-->

        </form>
    </div>
</body>
{% endblock %}

